<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      window.MyAppGlobals = {
        appTitle: '<%= appTitle %>',
        appName: '<%= appName %>',
        version: '<%= version %>',
        rootPath: '<%= basePath %>',
        wideWidth: '<%= wideWidth %>',
        serverConfig: <%- serverConfig %>
      }
    </script>
    <link rel="stylesheet" href="/src/index.css" />
    <script type="module" src="/src/pwa-app.ts"></script>
  </head>
  <body>
    <pwa-app></pwa-app>
  </body>
</html>
